/* custom css file   */

.row{
background-color: tan;
border-style:solid;
border-width:1px;
padding-top: 5px;

}

.row h4{
color: white;
text-align: center;
font-size: 24;

}

.row p{

text-align: center;	
}

img#logo{


margin-top: 20px;
margin-left: 150px;
}

h3{
margin-top: 100px;
text-align: center;

}

li{
	list-style-type: none;
}

img#arrow{
display: block;
<<<<<<< HEAD
margin-top: 400px;
    margin-left: 800px;
    margin-right: auto


}
=======
margin-top: 400px;
    margin-left: 800px;
    margin-right: auto


}
>>>>>>> contact
